@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Manrope, Helvetica, sans-serif;
  width: 100%;
  /* height: 100%; */
  --color: #E1E1E1;
  background-color: var(--bg);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 85px 85px;
}
:root {
  --main: #FFD230;
  --overlay: rgba(0, 0, 0, 0.8); /* background color overlay for alert dialogs, modals, etc. */

  --bg: #FEFAF1;
  --bw: #FEFAF1; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #0D0D0D; /* blank black and white */
  --border: #0D0D0D;
  --text: #0D0D0D;
  --mtext: #0D0D0D; /* text that is placed on background with main color e.g. text color of default button */
  --ring: #0D0D0D;
  --ring-offset: #FEFAF1;

  --themeBlue: #1E72ED;
  --themeGreen: #58DF55;
  --themeRed: #FA3C2F;
  --themeOrange: #FFD230;
  --themePink: #FF69B4;

  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}
